#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

div {
  padding: 10%;
}

ion-grid {
  padding: 0px !important;
  border-top: solid 1px #d2cdcd;
}
.input-col {
  padding-left: 10px;
}
.send-col {
  padding: 0px !important;
}
.send-col ion-button {
  height: 100% !important;
  margin: 0px !important;
  border-radius: 0px !important;
}
.send-col button {
  border-radius: 0px !important;
}
.send-col ion-icon {
  font-size: 20px !important;
}

.listMsg ion-item {
  min-height: fit-content !important;
  height: 51px;
}
.stream ion-item {
  min-height: fit-content !important;
  height: 51px;
}
ion-badge {
  padding: 10px !important;
  text-align: left;
  max-width: 80%;
}

// ==================================================================
.padding {
  padding: 5% !important;
}
.logo ion-icon {
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  position: relative;
  height: 250px;
}
ion-content {
  --ion-background-color: linear-gradient(135deg, #fff886, #f072b6 100%);
  // --ion-background-color: linear-gradient(#f5af19, #f12711);
  //  --ion-background-color: linear-gradient(#485563, #29323c);
}
ion-item {
  --ion-background-color: transparent !important;
}
.flex {
  display: flex;
  justify-content: space-between;
}

ion-title {
  text-align: center;
}

.passwordIcon {
  font-size: 2rem !important;
  position: relative !important;
  top: 25px !important;
  margin: 0 auto !important;
}
