<ion-header>
  <ion-toolbar>
    <ion-title>AuthMail avec Firebase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!connected">
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" [(ngModel)]="dataUser.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mot de passe: </ion-label>
      <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
    </ion-item>
    <br />
    <ion-button color="success" expand="block" (click)="login()">
      Connexion
    </ion-button>
    <ion-button color="tertiary" expand="block" (click)="signUp()">
      Inscription
    </ion-button>
  </div>

  <div *ngIf="connected">
    <h1>Vous êtes bien connecté !</h1>
    <ion-item>
      <ion-label>
        <p>Identifiant</p>
        <h2><b>{{userId}}</b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Méthode de connxion</p>
        <h2><b> Email & {{method}}</b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Adresse email</p>
        <h2><b>{{email}}</b></h2>
      </ion-label>
    </ion-item>
    <br>
    <ion-button color="danger" expand="block" (click)="logout()">
      Déconnexion
    </ion-button>
  </div>
</ion-content>
